/*/*@import url(reset.css);*/
*{
	padding: 0px;
	margin: 0px;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("../image/winter2.jpg");
	background-repeat: repeat-y;
 /*background-color:#F3D4F4; 
  /*background: #d2dfed;
  
/* http://www.colorzilla.com/gradient-editor/ */
}

div,nav, .wrapper{
	width: 900px;
	margin: 0px auto;
	/*display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	/*padding: 0 0 0 60px;*/
	/* outline: 1px solid red; */
	background: #606c88;
  
}

.my_frame{
	margin: 5% auto;
}

.copyR{
	margin-top: 8%;
}

.cadr li, .main_menu li{
	
	display: inline;
	text-decoration: none;
	/*margin-right: 5%;*/
}

.foot_refs li, .social_btn li{
	list-style-type: none;
	float: left;
	width: 160px;
	margin:1% auto;
	
	
}

.foot_refs a, .social_btn a{
	margin:12%;
}

.main_menu a{
	color: black;
	text-decoration: none;
	margin: 8%;
}

.clear{
	clear: both;
}

#main_title{
	font-family: 'Indie Flower', cursive;
	font-size: 100px;
    color: rgb(255,255,255);	
}

/*==================================================
кодирование цвета в css 
	- ключевые слова (red )
	- hex-html код (#0000ff)
	- -/- упрощённый код (#00f)
    -rgb(0,0,255)
    -rgba(0,0,255, 0.07)

*/
 #table{
 	border: 2px;
	color:red;
	border-color: black;
}

#blok{
	color:rgb(77,12,128);
}

/*
=============================
селектор перечисления
h1, #table, .blok{
	color: rgb(200,200,200);
}*/

/*=======================================
селектор потомков */

#table .table ul li{
	color: rgb(200,115,17);
	
}
.odin, .dva, .tri{
	color: rgb(200,200,200);

}
.td1{
	width: 900px;
}
.f1:hover{
	color: rgb(255,0,0);
text-decoration: overline;}


p{
	
	font-style: italic;
	color: rgb(0,0,0);
	font-weight: 700;
		/*text-align: left ;*/
	padding: 15px;
	margin: 40px;
	text-indent:20px;
	border: 1px solid blue;
	/*border-radius: 5px;*/
	
}

.tel{
	position:fixed;
	top:300px;
    left:0;
}

li{
	/*list-style-type: georgian;*/
	/*list-style-position: inside;*/
	/*display: inline;*/

}


/*img{
	display: inline-block;
}*/


/* .my_form{
	margin: 250 0 0 250;
margin: 0 auto;
} */

label{
	padding: 0px;
	margin-top: 5px;
}

fieldset{
	width: 500px;
}

legend{
	padding: 7px 7px 7px 7px;
	/* margin-top: 20px; */
	margin-left: 131px;
	/* padding-bottom: 20px; */
}
.foot_refs a{
	color: inherit;
	display: block;
	padding: 10px 20px;
	background: #eee;
	text-decoration: none;
	transition: background .5s;
}
.foot_refs a:hover{
	background:#aaa;
}


