/*/*@import url(reset.css);*/
*{
	padding: 0px;
	margin: 0px;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
	background-color:#606c88;
    	background-repeat: repeat-y;
 /*background-image: url("../image/winter2.jpg"); 
  /*background: #d2dfed;
  
/* http://www.colorzilla.com/gradient-editor/ */
}
.logo{
	background-color: black;
	height: 50px;
	text-align: center;
}

p{
	font-family: 'Roboto Condensed', sans-serif;
}

div,nav, .wrapper{
	width: 900px;
	margin: 0px auto;
	/*display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	/*padding: 0 0 0 60px;*/
	/* outline: 1px solid red; */
	background: #E2E2E2;
}
.main_menu{
	margin: 20px;
}

.main_menu a{
	color: black;
	text-decoration: none;
	margin: 8%;
}
.main_menu a:hover{
	text-decoration: underline;
}

.clear{
	clear: both;
}

.my_frame{
	margin: 5% auto;
	
}

.copyR{
	margin-top: 8%;
}

.cadr li, .main_menu li{
	
	display: inline;
	text-decoration: none;
	/*margin-right: 5%;*/
}

.foot_refs li, .social_btn li{
	list-style-type: none;
	float: left;
	width: 210px;
	margin:1% auto;
	
	
}

.foot_refs a, .social_btn a{
	margin:10%;
}

.social_btn{
	text-align: center;
	margin-left:30px;
}

#main_title{
	text-align: center;
	margin-top:30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
    color: black;	
	font-weight: 50;
}

/*==================================================
кодирование цвета в css 
	- ключевые слова (red )
	- hex-html код (#0000ff)
	- -/- упрощённый код (#00f)
    -rgb(0,0,255)
    -rgba(0,0,255, 0.07)

*/
 #table{
 	border: 0px;
	color:red;
	border-color: white;
}

/*
=============================
селектор перечисления
h1, #table, .blok{
	color: rgb(200,200,200);
}*/

/*=======================================
селектор потомков */

#table .table ul li{
	color: rgb(200,115,17);
	
}
.odin, .dva, .tri{
	color: rgb(200,200,200);

}
.td1{
	width: 900px;
}
.f1:hover{
	color: rgb(255,0,0);
text-decoration: underline;}


p{
	font-family: 'Roboto Condensed', sans-serif;
	color: rgb(0,0,0);
	font-weight: 400;
		/*text-align: left ;*/
	padding: 15px;
	margin: 20px 20px;
	padding: 0px;
	border: none;
	text-align:justify;

	
}

.tel{
	position:fixed;
	top:300px;
    left:0;
}

li{
	/*list-style-type: georgian;*/
	/*list-style-position: inside;*/
	/*display: inline;*/

}


/*img{
	display: inline-block;
	margin: 250 0 0 250;
}*/

#callback_form{
	width: 500px;
	border: none;
}

.my_form{
	padding: 15px;
	margin: 40px 220px;
	   	
} 

label{
	padding: 0px;
	margin-top: 5px;
}

fieldset{
	width: 400px;
}

legend{
	text-align: center;
	padding: 7px 7px 7px 7px;
	/* margin-top: 20px; */
	margin-left: 131px;
	/* padding-bottom: 20px; */
}
.foot_refs a{
	color: inherit;
	display: block;
	padding: 10px 20px;
	background: #eee;
	text-decoration: none;
	transition: background .5s;
}
.foot_refs a:hover{
	background:#aaa;
}

